openapi: 3.0.3
info:
  title: LazySoap
  description: |
    LazySoap surfaces the highest-rated episodes of a TV series, backed by TMDB
    metadata. The API exposes a small JSON surface plus a TMDB poster proxy.
  version: 1.0.0
  contact:
    name: Nikita Voynov
    email: voynov@nikscorp.com
    url: https://www.nikscorp.com
  license:
    name: MIT
    url: http://opensource.org/licenses/MIT
servers:
  - url: https://soap.nivoynov.dev
    description: Public production instance
  - url: http://localhost:8080
    description: Local development
# The public API is unauthenticated; the TMDB key is used server-side only.
security: []
tags:
  - name: series
    description: TV series search, best-episodes, and featured endpoints.
  - name: media
    description: TMDB poster image proxy.
paths:
  /search/{query}:
    get:
      tags: [series]
      operationId: searchSeries
      summary: Search series by query.
      description: Searches TV series by free-text query and returns matches with the derived response language.
      parameters:
        - name: query
          in: path
          required: true
          description: Free-text query used to search for a series.
          schema:
            type: string
          example: Lost
      responses:
        "200":
          description: Search results matching the query.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResultsResp"
              examples:
                blackMirror:
                  summary: Black Mirror match
                  value:
                    searchResults:
                      - id: 42009
                        title: Black Mirror
                        firstAirDate: "2011-12-04"
                        poster: /img/7PRddO7z7mcPi21nZTCMGShAyy1.jpg
                        rating: 8.3
                        description: A British anthology television series that examines modern society.
                    language: en
        "500":
          description: Upstream metadata lookup failed.
  /id/{id}:
    get:
      tags: [series]
      operationId: getBestEpisodesByID
      summary: Get the best episodes of a series by id.
      description: |
        Returns the top-rated episodes of a series. The set is selected by
        rating descending (top-N) but the returned slice is sorted
        chronologically by `(season, number)` ascending for display. When
        `limit` is omitted, the response contains `defaultBest` episodes — the
        count of episodes whose rating strictly exceeds the configured
        quantile of all ratings (default `0.9`), raised to the configured
        minimum-episode floor (default `3`) when fewer episodes clear the
        threshold. The full episode count is reported as `totalEpisodes` so
        clients can render a slider over the entire episode space.
      parameters:
        - name: id
          in: path
          required: true
          description: TMDB series id.
          schema:
            type: integer
            format: int64
          example: 4607
        - name: language
          in: query
          required: false
          description: Optional ISO 639-1 language code forwarded to the metadata provider.
          schema:
            type: string
          example: en
        - name: limit
          in: query
          required: false
          description: |
            Optional positive integer capping the number of returned episodes
            to the top `limit` by rating. When omitted, zero, negative, or not
            a number, the server falls back to `defaultBest`. Values larger
            than `totalEpisodes` are clamped.
          schema:
            type: integer
            format: int64
            minimum: 1
          example: 10
      responses:
        "200":
          description: Best episodes for the series.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EpisodesResp"
              examples:
                blackMirror:
                  summary: Black Mirror best episodes
                  value:
                    title: Black Mirror
                    poster: /img/7PRddO7z7mcPi21nZTCMGShAyy1.jpg
                    firstAirDate: "2011-12-04"
                    defaultBest: 3
                    totalEpisodes: 27
                    episodes:
                      - title: The National Anthem
                        description: The British prime minister faces a shocking dilemma when Princess Susannah is kidnapped.
                        rating: 7.504
                        number: 1
                        season: 1
                        still: /img/lj0R2Lo3oqxiSJp9XwVKr6IRPKp.jpg
                      - title: Fifteen Million Merits
                        description: In a future where most of the population must cycle on exercise bikes to power their surroundings, Bing tries to escape his routine.
                        rating: 7.696
                        number: 2
                        season: 1
                      - title: Black Museum
                        description: A traveler stumbles upon a museum whose proprietor trades in criminological artifacts with disturbing histories.
                        rating: 7.858
                        number: 6
                        season: 4
        "500":
          description: Failed to load episodes (invalid id, upstream error, or no episodes).
  /featured:
    get:
      tags: [series]
      operationId: getFeaturedSeries
      summary: Get a randomized set of featured series.
      description: |
        Returns `LAZYSOAP_FEATURED_COUNT` (default 3) randomly chosen series,
        deduplicated by id. The candidate pool is the union of:

        - TMDB's "popular TV" endpoint (page 1), filtered to entries with
          `vote_count >= LAZYSOAP_FEATURED_MIN_VOTE_COUNT` (default 100) so
          unrated / spammy entries are dropped.
        - An operator-curated list of TMDB ids
          (`LAZYSOAP_FEATURED_EXTRA_IDS`). Curated ids bypass the vote-count
          filter.

        Each request reshuffles. Operator extras are warmed into an
        in-memory cache at startup and refreshed every
        `LAZYSOAP_FEATURED_EXTRAS_REFRESH_INTERVAL` (default 24h), so the
        request path itself never round-trips TMDB for those static ids. If
        the unioned pool is smaller than the configured count, the handler
        returns 503 instead of a short list.
      parameters:
        - name: language
          in: query
          required: false
          description: Optional ISO 639-1 language code forwarded to TMDB for the popular pool.
          schema:
            type: string
          example: en
      responses:
        "200":
          description: A randomized set of featured series.
          headers:
            Cache-Control:
              schema:
                type: string
              description: Always `no-store` so each request reshuffles client-side caches as well.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeaturedResp"
              examples:
                blackMirror:
                  summary: Three random featured series
                  value:
                    series:
                      - id: 42009
                        title: Black Mirror
                        firstAirDate: "2011-12-04"
                        poster: /img/7PRddO7z7mcPi21nZTCMGShAyy1.jpg
                      - id: 1399
                        title: Game of Thrones
                        firstAirDate: "2011-04-17"
                        poster: /img/1XS1oqL89opfnbLl8WnZY1O1uJx.jpg
                      - id: 66732
                        title: Stranger Things
                        firstAirDate: "2016-07-15"
                        poster: /img/49WJfeN0moxb9IPfGn8AIqMGskD.jpg
                    language: en
        "503":
          description: |
            Both data sources failed (or yielded too few items) and the unioned
            pool is smaller than `LAZYSOAP_FEATURED_COUNT`. The body is empty.
  /img/{path}:
    get:
      tags: [media]
      operationId: proxyPoster
      summary: Proxy a TMDB poster image.
      description: |
        Streams the TMDB poster identified by the given path through the
        server. The optional `size` query parameter selects a TMDB image
        variant; values outside the allow-list are coerced to the default
        (`w92`).
      parameters:
        - name: path
          in: path
          required: true
          description: TMDB poster path (the trailing filename of a TMDB image URL).
          schema:
            type: string
          example: 7PRddO7z7mcPi21nZTCMGShAyy1.jpg
        - name: size
          in: query
          required: false
          description: |
            TMDB image-size token. Values outside the allow-list are silently
            coerced to `w92` so a stray query can't be used to fan requests
            out to arbitrary TMDB endpoints.
          schema:
            type: string
            enum: [w92, w154, w185, w342, w500, w780]
            default: w92
          example: w342
      responses:
        "200":
          description: Raw image bytes proxied from TMDB.
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
        "404":
          description: Upstream returned a non-200 status; the same status is propagated.
        "500":
          description: Failed to build, perform, or stream the upstream request.
components:
  schemas:
    SearchResultsResp:
      type: object
      required: [searchResults, language]
      properties:
        searchResults:
          type: array
          description: Actual search results.
          items:
            $ref: "#/components/schemas/SearchResult"
        language:
          type: string
          description: Language of the results.
          example: en
    SearchResult:
      type: object
      required: [id, title, firstAirDate, poster, rating, description]
      properties:
        id:
          type: integer
          format: int64
          example: 42009
        title:
          type: string
          example: Black Mirror
        firstAirDate:
          type: string
          description: First air date in YYYY-MM-DD form.
          example: "2011-12-04"
        poster:
          type: string
          description: |
            Relative reference to a TMDB poster, served by `/img/{path}`. The
            same path resolves at multiple sizes via `?size=` (see
            `proxyPoster`).
          example: /img/7PRddO7z7mcPi21nZTCMGShAyy1.jpg
        rating:
          type: number
          format: float
          example: 8.3
        description:
          type: string
          description: |
            Series synopsis sourced from TMDB. May be an empty string when
            the metadata provider has no overview for this series (or in the
            requested language).
          example: A British anthology television series that examines modern society, particularly with regard to the unanticipated consequences of new technologies.
    EpisodesResp:
      type: object
      required: [episodes, title, poster, firstAirDate, defaultBest, totalEpisodes]
      properties:
        episodes:
          type: array
          description: |
            Top-rated episodes of the series. The set is selected by rating
            descending (top-N) and the slice is then ordered chronologically
            by `(season, number)` ascending. The slice length equals
            `min(limit, totalEpisodes)` when `limit` is provided, otherwise
            `defaultBest`.
          items:
            $ref: "#/components/schemas/Episode"
        title:
          type: string
          example: Black Mirror
        poster:
          type: string
          description: Relative reference to the series poster, served by `/img/{path}`.
          example: /img/7PRddO7z7mcPi21nZTCMGShAyy1.jpg
        firstAirDate:
          type: string
          description: First air date of the series in YYYY-MM-DD form.
          example: "2011-12-04"
        defaultBest:
          type: integer
          format: int64
          minimum: 0
          description: |
            Number of episodes whose rating strictly exceeds the configured
            quantile of all ratings (default `0.9`), with a configured
            minimum floor (default `3`); the size of the response when
            `limit` is omitted, and the recommended initial value for a
            "top N" slider on the client.
          example: 3
        totalEpisodes:
          type: integer
          format: int64
          minimum: 0
          description: Total number of episodes across all seasons.
          example: 27
    Episode:
      type: object
      required: [title, description, rating, number, season]
      properties:
        title:
          type: string
          example: The National Anthem
        description:
          type: string
          description: |
            Episode synopsis sourced from TMDB. May be an empty string when the
            metadata provider has no overview for this episode (or in the
            requested language).
          example: The British prime minister faces a shocking dilemma when Princess Susannah is kidnapped.
        rating:
          type: number
          format: float
          example: 7.504
        number:
          type: integer
          format: int64
          description: Episode number within the season.
          example: 1
        season:
          type: integer
          format: int64
          description: Season number.
          example: 1
        still:
          type: string
          description: |
            Optional relative reference to a TMDB still frame for the episode,
            served by `/img/{path}`. Omitted when TMDB has no still for the
            episode.
          example: /img/lj0R2Lo3oqxiSJp9XwVKr6IRPKp.jpg
    FeaturedResp:
      type: object
      required: [series, language]
      properties:
        series:
          type: array
          description: Random subset of the featured pool, deduplicated by id.
          items:
            $ref: "#/components/schemas/FeaturedSeries"
        language:
          type: string
          description: Language echoed back from the request (defaults to `en`).
          example: en
    FeaturedSeries:
      type: object
      required: [id, title, firstAirDate, poster]
      properties:
        id:
          type: integer
          format: int64
          example: 42009
        title:
          type: string
          example: Black Mirror
        firstAirDate:
          type: string
          description: First air date in YYYY-MM-DD form.
          example: "2011-12-04"
        poster:
          type: string
          description: Relative reference to the series poster, served by `/img/{path}`.
          example: /img/7PRddO7z7mcPi21nZTCMGShAyy1.jpg
