openapi: 3.0.3
info:
  title: LazySoap
  description: |
    LazySoap surfaces the highest-rated episodes of a TV series, backed by TMDB
    metadata. The API exposes a small JSON surface plus a TMDB poster proxy.
  version: 1.0.0
  contact:
    name: Nikita Voynov
    email: voynov@nikscorp.com
    url: https://www.nikscorp.com
  license:
    name: MIT
    url: http://opensource.org/licenses/MIT
servers:
  - url: https://soap.nivoynov.dev
    description: Public production instance
  - url: http://localhost:8080
    description: Local development
# The public API is unauthenticated; the TMDB key is used server-side only.
security: []
tags:
  - name: series
    description: TV series search, best-episodes, and featured endpoints.
  - name: media
    description: TMDB poster image proxy.
paths:
  /search/{query}:
    get:
      tags: [series]
      operationId: searchSeries
      summary: Search series by query.
      description: Searches TV series by free-text query and returns matches with the derived response language.
      parameters:
        - name: query
          in: path
          required: true
          description: Free-text query used to search for a series.
          schema:
            type: string
          example: Lost
      responses:
        "200":
          description: Search results matching the query.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResultsResp"
              examples:
                blackMirror:
                  summary: Black Mirror match
                  value:
                    searchResults:
                      - id: 42009
                        title: Black Mirror
                        firstAirDate: "2011-12-04"
                        poster: /img/7PRddO7z7mcPi21nZTCMGShAyy1.jpg
                        rating: 8.3
                        description: A British anthology television series that examines modern society.
                    language: en
        "500":
          description: Upstream metadata lookup failed.
  /id/{id}:
    get:
      tags: [series]
      operationId: getBestEpisodesByID
      summary: Get the best episodes of a series by id.
      description: |
        Returns the top-rated episodes of a series. The set is selected by
        rating descending (top-N) but the returned slice is sorted
        chronologically by `(season, number)` ascending for display. When
        `limit` is omitted, the response contains `defaultBest` episodes — the
        count of episodes whose rating strictly exceeds the configured
        quantile of all ratings (default `0.9`), raised to the configured
        minimum-episode floor (default `3`) when fewer episodes clear the
        threshold. The full episode count is reported as `totalEpisodes` so
        clients can render a slider over the entire episode space.

        The optional `seasons` query parameter narrows the considered episode
        pool to a subset of seasons. When provided, `defaultBest` and
        `totalEpisodes` are computed over that subset; `availableSeasons` is
        always the full series. Season numbers in the filter that don't exist
        for the series are silently ignored (so saved links survive a series
        losing a season in TMDB); the request is rejected with 400 only when
        the intersection of the filter with `availableSeasons` is fully
        empty.
      parameters:
        - name: id
          in: path
          required: true
          description: TMDB series id.
          schema:
            type: integer
            format: int64
          example: 4607
        - name: language
          in: query
          required: false
          description: Optional ISO 639-1 language code forwarded to the metadata provider.
          schema:
            type: string
          example: en
        - name: limit
          in: query
          required: false
          description: |
            Optional positive integer capping the number of returned episodes
            to the top `limit` by rating. When omitted, zero, negative, or not
            a number, the server falls back to `defaultBest`. Values larger
            than `totalEpisodes` are clamped.
          schema:
            type: integer
            format: int64
            minimum: 1
          example: 10
        - name: seasons
          in: query
          required: false
          description: |
            Optional comma-separated list of positive season numbers
            (`seasons=1,3,5`) restricting the considered episode pool. The
            server tolerates any order and surrounding whitespace. Absent or
            empty → all seasons (current behaviour). Season numbers that
            aren't in `availableSeasons` are silently ignored; the server
            responds 400 when the filter resolves to no episodes (the
            intersection with `availableSeasons` is fully empty).
            `defaultBest` and `totalEpisodes` are computed over the resulting
            subset; `availableSeasons` lists every season with at least one
            episode so clients can render a season selector even under a
            filter.
          schema:
            type: string
            pattern: '^\s*([1-9]\d*\s*(,\s*[1-9]\d*\s*)*)?\s*$'
          example: 1,3,5
      responses:
        "200":
          description: Best episodes for the series.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EpisodesResp"
              examples:
                blackMirror:
                  summary: Black Mirror best episodes
                  value:
                    title: Black Mirror
                    poster: /img/7PRddO7z7mcPi21nZTCMGShAyy1.jpg
                    firstAirDate: "2011-12-04"
                    defaultBest: 3
                    totalEpisodes: 27
                    availableSeasons: [1, 2, 3, 4, 5, 6]
                    episodes:
                      - title: The National Anthem
                        description: The British prime minister faces a shocking dilemma when Princess Susannah is kidnapped.
                        rating: 7.504
                        number: 1
                        season: 1
                        still: /img/lj0R2Lo3oqxiSJp9XwVKr6IRPKp.jpg
                      - title: Fifteen Million Merits
                        description: In a future where most of the population must cycle on exercise bikes to power their surroundings, Bing tries to escape his routine.
                        rating: 7.696
                        number: 2
                        season: 1
                      - title: Black Museum
                        description: A traveler stumbles upon a museum whose proprietor trades in criminological artifacts with disturbing histories.
                        rating: 7.858
                        number: 6
                        season: 4
        "400":
          description: |
            The `{id}` path segment is not a valid positive integer; the
            `seasons` filter is malformed (non-integer token, empty token,
            non-positive number); or the intersection of the filter with
            `availableSeasons` is fully empty.
        "500":
          description: Failed to load episodes (upstream error or no episodes).
  /featured:
    get:
      tags: [series]
      operationId: getFeaturedSeries
      summary: Get a randomized set of featured series.
      description: |
        Returns `LAZYSOAP_FEATURED_COUNT` (default 3) randomly chosen series,
        deduplicated by id. The candidate pool is the union of:

        - TMDB's "popular TV" endpoint (page 1), filtered to entries with
          `vote_count >= LAZYSOAP_FEATURED_MIN_VOTE_COUNT` (default 100) so
          unrated / spammy entries are dropped.
        - An operator-curated list of TMDB ids
          (`LAZYSOAP_FEATURED_EXTRA_IDS`). Curated ids bypass the vote-count
          filter.

        Each request reshuffles. Both halves of the pool — popular and
        curated extras — are warmed into a single unified in-memory cache at
        startup and refreshed every
        `LAZYSOAP_FEATURED_EXTRAS_REFRESH_INTERVAL` (default 24h), so the
        request path itself never round-trips TMDB. After every successful
        refresh the `/img` cache is prewarmed for every poster in the pool
        at the four renditions the SPA's responsive `srcset` declares
        (`w185`, `w342`, `w500`, `w780`); failures are logged and dropped.
        On partial refresh failure (popular fetch fails or every extra ID
        fails) the prior pool is preserved rather than blanked. If the
        unioned pool is smaller than the configured count, the handler
        returns 503 instead of a short list.
      parameters:
        - name: language
          in: query
          required: false
          description: Optional ISO 639-1 language code. Echoed back in the response body; the featured pool is pre-built in the server's default language at refresh time and is not re-fetched per request.
          schema:
            type: string
          example: en
      responses:
        "200":
          description: A randomized set of featured series.
          headers:
            Cache-Control:
              schema:
                type: string
              description: Always `no-store` so each request reshuffles client-side caches as well.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeaturedResp"
              examples:
                blackMirror:
                  summary: Three random featured series
                  value:
                    series:
                      - id: 42009
                        title: Black Mirror
                        firstAirDate: "2011-12-04"
                        poster: /img/7PRddO7z7mcPi21nZTCMGShAyy1.jpg
                      - id: 1399
                        title: Game of Thrones
                        firstAirDate: "2011-04-17"
                        poster: /img/1XS1oqL89opfnbLl8WnZY1O1uJx.jpg
                      - id: 66732
                        title: Stranger Things
                        firstAirDate: "2016-07-15"
                        poster: /img/49WJfeN0moxb9IPfGn8AIqMGskD.jpg
                    language: en
        "503":
          description: |
            Both data sources failed (or yielded too few items) and the unioned
            pool is smaller than `LAZYSOAP_FEATURED_COUNT`. The body is empty.
  /meta:
    get:
      tags: [series]
      operationId: getMeta
      summary: Server-wide configuration metadata.
      description: |
        Returns server-wide knobs the SPA needs to render correctly. Today the
        only field is `ratingsSource`, which the SPA uses to decide whether to
        render the IMDb attribution required by IMDb's data usage policy. The
        response is browser-cacheable for 5 minutes; the values only change
        on server restart.
      responses:
        "200":
          description: Server metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetaResp"
              examples:
                tmdb:
                  summary: TMDB rating source (default)
                  value:
                    ratingsSource: tmdb
                imdb:
                  summary: IMDb rating source
                  value:
                    ratingsSource: imdb
  /img/{path}:
    get:
      tags: [media]
      operationId: proxyPoster
      summary: Proxy a TMDB poster image.
      description: |
        Streams the TMDB poster identified by the given path through the
        server. The optional `size` query parameter selects a TMDB image
        variant; values outside the allow-list are coerced to the default
        (`w92`).

        Successful responses are cached server-side: an in-process LRU keyed
        by `(path, normalized size)` holds up to `LAZYSOAP_IMG_CACHE_SIZE`
        (default `512`) bodies for `LAZYSOAP_IMG_CACHE_TTL` (default
        `168h`). Concurrent misses for the same key collapse into one
        upstream call via `singleflight`. Only `200 OK` responses with
        `Content-Type: image/*` and a body up to 2 MiB are cached; transport
        errors, non-image content-types, oversized bodies, and non-200 /
        non-404 statuses surface as `502` and are not cached. Hits and
        misses emit the same headers, so a hit is byte-identical to a fresh
        response. Hit / miss / error counts are exported on `/metrics` as
        `lazysoap_img_cache_hits_total` / `_misses_total` / `_errors_total`
        (label `method=img`). Featured-pool posters are proactively
        prewarmed at the four renditions the SPA's responsive `srcset`
        declares — see `/featured`.
      parameters:
        - name: path
          in: path
          required: true
          description: TMDB poster path (the trailing filename of a TMDB image URL).
          schema:
            type: string
          example: 7PRddO7z7mcPi21nZTCMGShAyy1.jpg
        - name: size
          in: query
          required: false
          description: |
            TMDB image-size token. Values outside the allow-list are silently
            coerced to `w92` so a stray query can't be used to fan requests
            out to arbitrary TMDB endpoints. The normalized value (not the
            raw query string) is what the server-side cache keys on, so
            `?size=garbage` shares a slot with the default.
          schema:
            type: string
            enum: [w92, w154, w185, w342, w500, w780]
            default: w92
          example: w342
      responses:
        "200":
          description: Raw image bytes proxied from TMDB (or replayed from cache).
          headers:
            Cache-Control:
              schema:
                type: string
              description: |
                `public, max-age={LAZYSOAP_IMG_BROWSER_MAX_AGE}, immutable`
                (default `max-age=86400`) when `LAZYSOAP_IMG_BROWSER_MAX_AGE
                > 0`; falls back to `no-store` when the operator sets it to
                `0`. Identical on cache hits and misses.
            Content-Type:
              schema:
                type: string
              description: Mirrored from the upstream response (always `image/*`).
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
        "404":
          description: Upstream TMDB returned 404 for the poster path. Body is empty; not cached.
        "502":
          description: |
            Upstream call failed: transport error, non-200 / non-404 status,
            non-image `Content-Type`, oversized body (> 2 MiB), or empty
            body. Body is empty; not cached so the next request retries.
components:
  schemas:
    SearchResultsResp:
      type: object
      required: [searchResults, language]
      properties:
        searchResults:
          type: array
          description: Actual search results.
          items:
            $ref: "#/components/schemas/SearchResult"
        language:
          type: string
          description: Language of the results.
          example: en
    SearchResult:
      type: object
      required: [id, title, firstAirDate, poster, rating, description]
      properties:
        id:
          type: integer
          format: int64
          example: 42009
        title:
          type: string
          example: Black Mirror
        firstAirDate:
          type: string
          description: First air date in YYYY-MM-DD form.
          example: "2011-12-04"
        poster:
          type: string
          description: |
            Relative reference to a TMDB poster, served by `/img/{path}`. The
            same path resolves at multiple sizes via `?size=` (see
            `proxyPoster`).
          example: /img/7PRddO7z7mcPi21nZTCMGShAyy1.jpg
        rating:
          type: number
          format: float
          description: |
            Series rating on a 0–10 scale, always sourced from TMDB
            `vote_average`. The `LAZYSOAP_RATINGS_SOURCE=imdb` setting only
            changes the per-episode ratings on `/id/{id}`; series-level
            ratings stay TMDB-sourced because IMDb's granularity advantage is
            at the episode level.
          example: 8.3
        description:
          type: string
          description: |
            Series synopsis sourced from TMDB. May be an empty string when
            the metadata provider has no overview for this series (or in the
            requested language).
          example: A British anthology television series that examines modern society, particularly with regard to the unanticipated consequences of new technologies.
    EpisodesResp:
      type: object
      required: [episodes, title, poster, firstAirDate, defaultBest, totalEpisodes, availableSeasons]
      properties:
        episodes:
          type: array
          description: |
            Top-rated episodes of the series. The set is selected by rating
            descending (top-N) and the slice is then ordered chronologically
            by `(season, number)` ascending. The slice length equals
            `min(limit, totalEpisodes)` when `limit` is provided, otherwise
            `defaultBest`. When `seasons` is provided, only episodes from
            seasons in the (intersected) filter are eligible.
          items:
            $ref: "#/components/schemas/Episode"
        title:
          type: string
          example: Black Mirror
        poster:
          type: string
          description: Relative reference to the series poster, served by `/img/{path}`.
          example: /img/7PRddO7z7mcPi21nZTCMGShAyy1.jpg
        firstAirDate:
          type: string
          description: First air date of the series in YYYY-MM-DD form.
          example: "2011-12-04"
        description:
          type: string
          description: |
            Series synopsis sourced from TMDB. Localized via the `language`
            query parameter. May be an empty string when the metadata
            provider has no overview for this series (or in the requested
            language).
          example: A British anthology television series that examines modern society, particularly with regard to the unanticipated consequences of new technologies.
        defaultBest:
          type: integer
          format: int64
          minimum: 0
          description: |
            Number of episodes whose rating strictly exceeds the configured
            quantile of all ratings (default `0.9`), with a configured
            minimum floor (default `3`); the size of the response when
            `limit` is omitted, and the recommended initial value for a
            "top N" slider on the client. When `seasons` is provided, this
            is recomputed over the filtered subset, not the full series.
          example: 3
        totalEpisodes:
          type: integer
          format: int64
          minimum: 0
          description: |
            Total number of episodes the response considers. When `seasons`
            is provided, this is the count across the filtered subset;
            otherwise it's the total across all seasons.
          example: 27
        availableSeasons:
          type: array
          description: |
            Ascending-sorted list of every season number that has at least
            one episode in the series payload, regardless of whether
            `seasons` is provided. Empty TMDB placeholder seasons (e.g.
            announced-but-unaired upcoming seasons) are excluded so the
            client never renders a chip that resolves to an empty filter.
          items:
            type: integer
            format: int64
            minimum: 1
          example: [1, 2, 3, 4, 5, 6]
    Episode:
      type: object
      required: [title, description, rating, number, season]
      properties:
        title:
          type: string
          example: The National Anthem
        description:
          type: string
          description: |
            Episode synopsis sourced from TMDB. May be an empty string when the
            metadata provider has no overview for this episode (or in the
            requested language).
          example: The British prime minister faces a shocking dilemma when Princess Susannah is kidnapped.
        rating:
          type: number
          format: float
          description: |
            Episode rating on a 0–10 scale. Sourced from TMDB by default
            (`vote_average`); when the server is started with
            `LAZYSOAP_RATINGS_SOURCE=imdb`, the value is replaced with IMDb's
            average rating for the episode where available, with per-episode
            fallback to TMDB when IMDb has no entry (mixed-source seasons
            are intentional and invisible to the client). The
            `defaultBest` quantile is computed against whichever ratings
            were ultimately populated.
          example: 7.504
        number:
          type: integer
          format: int64
          description: Episode number within the season.
          example: 1
        season:
          type: integer
          format: int64
          description: Season number.
          example: 1
        still:
          type: string
          description: |
            Optional relative reference to a TMDB still frame for the episode,
            served by `/img/{path}`. Omitted when TMDB has no still for the
            episode.
          example: /img/lj0R2Lo3oqxiSJp9XwVKr6IRPKp.jpg
    FeaturedResp:
      type: object
      required: [series, language]
      properties:
        series:
          type: array
          description: Random subset of the featured pool, deduplicated by id.
          items:
            $ref: "#/components/schemas/FeaturedSeries"
        language:
          type: string
          description: Language query-parameter echoed back from the request; empty string when the caller omits it.
          example: en
    MetaResp:
      type: object
      required: [ratingsSource]
      properties:
        ratingsSource:
          type: string
          description: |
            Source of the per-episode `rating` field on `/id/{id}` responses.
            `tmdb` means TMDB `vote_average`; `imdb` means IMDb's
            non-commercial dataset (with per-episode TMDB fallback when IMDb
            has no entry). Series-level ratings on `/search/{query}` always
            come from TMDB regardless of this setting; the SPA reads this
            field to decide whether to render the IMDb attribution required
            by IMDb's data usage policy. Server-wide and only changes on
            restart.
          enum: [tmdb, imdb]
          example: tmdb
    FeaturedSeries:
      type: object
      required: [id, title, firstAirDate, poster]
      properties:
        id:
          type: integer
          format: int64
          example: 42009
        title:
          type: string
          example: Black Mirror
        firstAirDate:
          type: string
          description: First air date in YYYY-MM-DD form.
          example: "2011-12-04"
        poster:
          type: string
          description: Relative reference to the series poster, served by `/img/{path}`.
          example: /img/7PRddO7z7mcPi21nZTCMGShAyy1.jpg
